.wrappAuthBlock {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 430px;
  max-width: 430px;

  flex-direction: column;
  align-items: center;

  input {
    padding-left: 10px !important;
  }

  .success {
    text-align: center;
    padding-top: 148px;
    padding-bottom: 148px;

    h3 {
      font-size: 19px;
    }

    p {
      color: #ada6a6;
    }

    .infoIcon {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  .authTitle {
    margin-bottom: 50px;
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      color: black;
      letter-spacing: 0.3px;
      text-align: center;
    }

    p {
      margin-bottom: 0;
      color: #ada6a6;
      font-weight: 500;
    }
  }

  .authForm {
    width: 100%;

    .link {
      text-align: center;
      display: block;
      color: #adadad;
      font-size: 15px;
    }

    .customBtn {
      margin-top: 15px;
      height: 42px;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      font-weight: 600;
    }
  }
}
